@model MusicOnDemand.Models.izvođač

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>izvođač</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.izvođačID)

        <div class="form-group">
            @Html.LabelFor(model => model.nazivIzvođač, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nazivIzvođač)
                @Html.ValidationMessageFor(model => model.nazivIzvođač)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.državaID, "državaID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("državaID", String.Empty)
                @Html.ValidationMessageFor(model => model.državaID)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
