@model IEnumerable<MusicOnDemand.Models.država>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nazivDržave)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nazivDržave)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.državaID }) |
            @Html.ActionLink("Details", "Details", new { id=item.državaID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.državaID })
        </td>
    </tr>
}

</table>
